<div class="container">
<div class="row">
  <div class="col-md-6">
                  <app-card>
  <h5 class="card-title">{{product}}</h5>
    <button (click)="btnClick()" class="btn btn-primary"  >Select this product</button>
                  </app-card>
              </div>


              <div class="col-md-6">
                  <app-card>
  <h5 class="card-title">Mobile</h5>
    <button (click)="btnClick()" class="btn btn-primary"  >Select this product</button>
                  </app-card>
              </div>


              </div>
  </div>